
<% include ../partials/header %>

<div class="container">
	<div class="row">
	<h2 style="text-align: center;">Add a new comment to <%=restaurant.name %></h2>
		<div style="width: 30%; margin: 0 auto;">
		<!-- margin 0 for top and bottom and auto for left and right -->
			<form action="/restaurants/<%= restaurant._id %>/comments" method="POST">
				<input class= "form-control" type="text" name="comment[text]" placeholder="text">
				<input class= "form-control" type="text" name="comment[author]" placeholder="author">
				<button class="btn btn-lg btn-default btn-info">Submit</button>
			</form>
			<br>
			<a href="/restaurants">Go back</a>
		</div>
	</div>
</div>




<% include ../partials/footer %>