<% include partials/header %>

<h1 style="text-align: center; margin-bottom: 30px;">Welcome to TravelEAT</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">
		<img class="img-responsive landing" src="https://www.misadventureswithandi.com/wp-content/uploads/2012/07/isladeltesoro.jpg">
			
		</div>	
	</div>
</div>


	<div class="button">
		<a class="btn btn-primary" href="/restaurants">View restaurants</a>
	</div>
	

<% include partials/footer %>