
<% include partials/header %>

<h1>This is the show template </h1>

<p><%= restaurant.name %></p>
<img src="<%= restaurant.image %>">
<p><%= restaurant.description %></p>
<% include partials/footer %>
